* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

  outline: none !important;
}
.content-img {
  background:black;
  background-size: cover;
  height: auto;
  box-shadow: inset 0 0 0 gold, 0 0 1em rgba(0, 0, 0, 0.9);
  
  
}
.nav-item a{
  
  color: gold !important;


}

.collor-back {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 gold, 0 0 1em rgba(0, 0, 0, 0.9);
  height: auto;
}
.texto-banner{
  line-height: 24px;
  font-size: 1rem;
  

}
.carousel-item img {
 
  width: 50%;
  height: 500px;
  
}

.mt-3{
  text-align: center;
}

.card img{
  width: 100%;
  height: 100px;
  object-fit: scale-down;
}

.carousel slide{

  width: 50px;
  height: 30%;
}

.v-button {
  outline: none !important;
}
.color-topo{
  background-color: black;
}
.card{

background-color:#EEE9E9;
border-color:#696969;

}

.card img{
  width: 100% !important;
  height: 180px !important;
  padding: 5px;
  
}
.imagem{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.filmes-card{
  padding: 10px;
  background-color: black; 
  border-radius: 1rem;
  box-shadow: inset 0 0 0 gold, 0 0 0.5em rgba(0, 0, 0, 0.9);
}
.textos{
  color:white;
}
.card-texto{
  color:gold;
}
.texto{
  text-align: center;
}
.texto p{
  font-size: 1.2rem;
}
/* footer div span {
  color: #ffe919;
} */


#Personagens .card {
  border: none !important;
  border-color:none !important;
}
footer{
  background-color: black;
  height: 310px;
  text-align: center;
 color:gold;

}